.Cart-d{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    background-color: var(--colorAmarillo );
    width: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 20%;
}
.img-carrito{
    height: 30px;
    width: 30px;
}

.valor{
    color: var(--colorBlanco);
    font-size: 20px;
    
}

.cantidad-cart{
    color: var(--colorVioletaOscuro);
}