.CardItem {
    background-color: rgb(246, 246, 246);
    width: 20%;
    border: rgba(0, 0, 0, 0.287) solid 3px;
    margin: auto;
    height: max-content;
    justify-content: space-between;
}

.Header{
    color: #150000;
}
.ItemHeader{
    background-color: rgb(255, 128, 0);
    height: 50px;
}
.ItemImg {
    max-width: 200px;
    max-height: 200px;
}

.Info {
    color: #150000;
}

.ItemFooter {
    background-color: rgb(0, 0, 53);
    height: 50px;
    color: #150000;
    margin: auto;
    width: 50%;
    display: flex;
}

.Option2{
    color: rgb(255, 128, 0);   
    margin: auto;    
}