.order-history{
    background-color: var(--colorVioleta);
    width: 90%;
    margin: auto;
    padding: 10px;
}

.order-list{
    margin: auto;
    background-color: var(--colorAmarillo);
    padding: 10px;
    

}
.order-item{
    display: flex;
    flex-direction: column;
    background-color: var(--colorAmarillo);
    width: 100%;
    margin: auto;
}

.order-summary{
    padding: 15px;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--colorBlanco);
    justify-content: space-between;
    border: 2px solid var(--colorVioleta);
    border-bottom: none;
}    
.order-details{
    text-align: left;   
    padding: 15px;
    width: 90%;
    margin: auto;
    border: 2px solid var(--colorVioleta);
    border-bottom: none;
    color: var(--colorBlanco);
    background-color: var(--colorVioletaClaro);

}
.d-comprador{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--colorVioleta);   
    margin: auto;
    width: 100%;
}

.prod-historial{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 100px;
    background-color: var(--colorVioletaClaro);
    width: 100%;
}