.NavBar{

    justify-content: center;
    display: flex;
    background-color: var(--colorVioletaOscuro);
    align-items: center;
    color: black;
    height: fit-content;
    width: 100%;
}

.c-Logo{
    padding-left: 2rem;
    color: var(--colorBlanco);
}

.Cartegorias{
    width: 100%;
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.ActiveOption {
    background-color:  var(--colorAmarillo);
    color: var(--colorVioletaOscuro);
    padding: 1rem;
    
}

.Option{
    color: var(--colorAmarillo);   
    padding: 1rem;
    
}

.img-carrito{
    width: 35px;
}
